# TeleShopBot API Configuration
TELESHOPBOT_API_KEY=your_teleshopbot_api_key_here

# Admin Credentials
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password_here

# MongoDB Atlas Connection (Required for Vercel Deployment)
MONGODB_URI=your_mongodb_uri_here
MONGODB_DB=GeminiShop

# Cloudinary Credentials (For storing payment screenshot receipts)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

# Binance API Credentials (For auto payment on-demand)
BINANCE_API_KEY=your_binance_api_key_here
BINANCE_API_SECRET=your_binance_api_secret_here
